<div class="mb-2">
    <input type="hidden" class="form-control {% if invite_othe_users_form.errors.invite_other_users %}is-invalid{% endif %}" name="{{ invite_othe_users_form.invite_other_users.name }}" id="id_invite_other_users" {% if invite_othe_users_form.invite_other_users.value %}value="{{ invite_othe_users_form.invite_other_users.value }}"{% endif %}>
    <div class="invalid-feedback">{{ invite_othe_users_form.errors.invite_other_users }}</div>
    <div class="mt-0 mb-2">
        <ul class="list-group list-group-horizontal w-100">
            <input type="text" class="form-control rounded-0 rounded-start" name="add-friend-input" id="add-friend-input" placeholder="username or email">
            <li id="add-friend-btn" class="list-group-item list-group-item-action list-group-item-success w-auto d-flex align-items-center"><i class="bi bi-plus-lg"></i></li>
        </ul>
        <ul class="list-group w-100 mt-2" id="friends-list"></ul>
    </div>
</div>
<script>
    $$onReady(() => {
        loadFriendListWithFormData()
        let form = $$("#id_invite_other_users").closest("form")
        form.onsubmit = function() {
            $$("#add-friend-btn").click()
        }
    })
    let friendsList = []

    function addFriendToList(name) {
        if (!name) 
            return

        const ul = $$("#friends-list")
        const li = document.createElement("li")
        li.appendChild(document.createTextNode(name))
        li.setAttribute("id", "f-"+friendsList.length)
        li.classList.add("list-group","list-group-horizontal","w-100","mt-1")
        li.innerHTML = `
            <div class="list-group-item w-100">${name}</div>
            <div onClick="removeFriendFromList(${friendsList.length})" class="list-group-item list-group-item-action list-group-item-danger w-auto d-flex align-items-center"><i class="bi bi-trash-fill"></i></div>
        `                      
        friendsList.push(name)
        updateHiddenFormFriendList(friendsList)
        ul.appendChild(li)
    }

    function removeFriendFromList(friendIndex) {
        const friend = $$("#f-"+friendIndex)
        if (friend) {
            friend.remove()
            delete friendsList[friendIndex]
            updateHiddenFormFriendList(friendsList)
        }
    }

    function updateHiddenFormFriendList(friendsList) {
        if (friendsList)
            $$("#id_invite_other_users").value = friendsList.filter((f) => f).join(",")
    }

    function loadFriendListWithFormData() {
        const value = $$("#id_invite_other_users").value
        if (value) {
            value.split(",").forEach((v) => {
                addFriendToList(v)
            })
        }
    }

    $$("#add-friend-btn").onclick = () => {
        const value = $$("#add-friend-input").value
        if (value) {
            const values = value.split(/[\s;,]+/)
            values.forEach((v) => {
                if (v) addFriendToList(v.trim())
            })
            $$("#add-friend-input").value = ""
        }
    }
</script>