{% load crispy_forms_tags %}

<div class="modal fade" id="itemInfoModal" tabindex="-1" aria-labelledby="itemInfoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <form novalidate method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="item-name">Item info</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="text-muted mb-3">
                        <p class="text-muted fst-italic mb-0" id="item-desc"></p>
                        &ndash;&nbsp;<a class="fst-italic" id="item-added-by" href="/profile"></a>
                    </div>
                    {% comment %}<label for="id_quantity" class="form-label mt-3">Quantity</label>
                        <input required type="number" class="form-control" id="id_quantity" min="0" oninput="validity.valid||(value='');" />

                        <label for="id_note" class="form-label mt-3">Note</label>
                        <textarea type="text" class="form-control fst-italic" id="id_note"></textarea>{% endcomment %}

                    {{ update_item_form|crispy }}
                </div>
                <div class="modal-footer d-flex">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#removeItemModal"><i class="bi bi-trash-fill flex-grow-0"></i>{% comment %}&nbsp;&nbsp;Remove{% endcomment %}</button>
                    <button type="submit" class="btn btn-success flex-grow-1">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>