//base stuff
@import colors

//components
@import header

//pages
@import index

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css")

//gfonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700;800;900&display=swap')

body
  color: var(--text-color-main)
  background-color: var(--bg-color-main)
  font-family: 'DM Sans', sans-serif
  padding-top: 52px