{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block head %}
    {% include "csvalidation.html" %}
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-12">
                <form novalidate method="post" class="rounded border p-3 needs-validation" action="{% url 'login' %}">
                    {% csrf_token %}
                    <h2 class="mb-3">Login</h2>
                    {% comment %} TODO: Fix this {% endcomment %}
                    {% comment %}{% if next %}
                        {% if user.is_authenticated %}
                            <p>Your account doesn't have access to this page. To proceed,
                                please login with an account that has access.</p>
                        {% else %}
                            <p>Please login to see this page.</p>
                        {% endif %}
                    {% endif %}{% endcomment %}
                    <div class="mb-3">
                        <label for="{{ form.username.name }}" class="form-label">Username</label>

                        <div class="input-group has-validation">
                            <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-at"></i></span>
                            <input class="form-control" name="{{ form.username.name }}" id="{{ form.username.name }}" aria-describedby="usernameHelp" required>
                            <div class="invalid-feedback">
                                Missing username
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.password.name }}" class="form-label">Password</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-asterisk"></i></span>
                            <input type="password" class="form-control" name="{{ form.password.name }}" id="{{ form.password.name }}" required>
                            <div class="invalid-feedback">
                                Missing password
                            </div>
                        </div>
                    </div>
                    {% if form.errors %}
                        <div class="mb-3">
                            <p class="text-danger">Wrong username or password</p>
                        </div>
                    {% endif %}
                    <button type="submit" class="btn btn-success w-100 mt-2">Login</button>
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
            </div>
        </div>
    </div>

{% endblock %}