{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block head %}
    {% include "csvalidation.html" %}
    <script src="https://cdn.jsdelivr.net/npm/@ericblade/quagga2/dist/quagga.min.js"></script>
    <script type="module">
        import { setup, setupEventListeners } from "/static/js/Card3D.js"
        setup()

        const App = {
            _scanner: null,
            init: function() { App.attachListeners() },
            decode: function(src) {
                const self = this

                console.log(src)

                Quagga.decodeSingle({
                    ...self.config,
                    src,
                }, function(result) {
                    console.log({
                        result,
                        isNull: !result
                    })
                });
            },
            attachListeners: function() {
                $$("#scan-file-input").addEventListener("change", function(e) {
                    if (e.target.files && e.target.files.length) {
                        const url = URL.createObjectURL(e.target.files[0])
                        console.log(url)
                        App.decode(url)
                    }
                });

                $$("#scan-btn").addEventListener("click", e => {
                    $$("#scan-file-input").click()
                })

                $$("#codeNotFoundModalSuccessButton").addEventListener("click", evt => {
                    new bootstrap.Modal($$("#codeNotFoundModal")).hide()
                    $$("#scan-file-input").click()
                })
            },
            config: {
                inputStream: {
                    size: 800,
                    singleChannel: false
                },
                locator: {
                    patchSize: "medium",
                    halfSample: true
                },
                decoder: {
                    readers: [
                        { format: "ean_reader", config: {} }
                    ]
                },
                locate: true,
                src: null
            },
            inputMapper: {
                inputStream: {
                    size: function(value){
                        return parseInt(value);
                    }
                },
                numOfWorkers: function(value) {
                    return parseInt(value);
                }
            }
        }
        App.init();

        Quagga.onProcessed(result => {
            const code = result?.codeResult?.code;
            if (!!result && !!code) {
                $$("#item-add_barcode-input").value = `${code}`
            } else {
                new bootstrap.Modal($$("#codeNotFoundModal")).show()
            }
        })

        const setIsSearchBarVisible = status =>
            $$("#item-add_search-bar-absolute").style.display = status ? "block" : "none"

        $$("#item-add_search-bar").addEventListener("input", async evt => {
            const text = evt.target.value
            setIsSearchBarVisible(text.length > 0)

            if (text.length <= 0) {
                return
            }
            // TODO: setIsLoading
            try {
                const data = await (await fetch(`{% url "search_products_api" %}?text=${encodeURIComponent(text)}`)).json()
                console.log(data)
                console.log($$("#item-add_search-bar-absolute--results-found"))
                $$("#item-add_search-bar-absolute--no-results").style.display = data.length === 0 ? "flex" : "none"
                $$("#item-add_search-bar-absolute--results-found").style.display = data.length !== 0 ? "block" : "none"
                if (data.length !== 0) {
                    // Show items :)
                    const views = data.map(item => {
                        return `<a class="list-group-item list-group-item-action add-item-btn" data-item-id="${item.pk}" data-item-name="${item.fields.title}" ${!item.fields.upc ? "data-item-is-custom=\"true\"" : ""}>
                            <div class="d-flex my-1">
                                <div class="card3d si-image me-3">
                                    <img src="/static/media/{% firstof si.image "question_mark.png" %}" alt="item image" class="rounded ratio-1x1 image-48">
                                </div>
                                <div>
                                    <div class="fw-bold mb-1">${item.fields.title}</div>
                                    <div class="text-muted small">${item.fields.description}</div>
                                </div>
                            </div>
                        </a>`
                    })
                    $$("#item-search-results-container").innerHTML = views.join("\n")
                    setupItemClickHandlers()
                } else {

                }
            } catch (ex) {
                console.error(ex)
                $$("#item-add_search-bar-absolute--no-results").style.display = "flex"
                $$("#item-add_search-bar-absolute--results-found").style.display = "none"
            }
            // TODO: setIsNotLoading
        })
        $$("#item-add_search-bar").addEventListener("focus", evt => {
            if (evt.target.value.length > 0) setIsSearchBarVisible(true)
        })

        $$all(".clear-input-btn").forEach(_ => _.addEventListener("click", _ => {
            $$("#item-add_search-bar").value = ""
            setIsSearchBarVisible(false)
        }))
        $$all(".hide-me-btn").forEach(_ => _.addEventListener("click", _ => setIsSearchBarVisible(false)))

        $$("#create-private-item-btn").addEventListener("click", _ => {
            $$(".customItemSpan").style.display = ""
            $$("#id_upc").value = undefined
            $$("#div_id_upc").style.display = "none"
            new bootstrap.Modal($$("#newItemModal")).show()
        })

        const itemClickHandlerFunc = (item) => {
            return () => {
                $$("#id_item").value = item.dataset.itemId
                $$("#addItemModal .modal-title").textContent = `Add ${
                    item.dataset.itemIsCustom
                        ? "custom item" : "item"}
                    "${item.dataset.itemName
                }"`
                new bootstrap.Modal($$("#addItemModal")).show()
            }
        }

        const setupItemClickHandlers = () => {
            $$all(".add-item-btn").forEach(item => {
                const func = itemClickHandlerFunc(item)
                item.removeEventListener("click", func)
                item.addEventListener("click", func)

                setupEventListeners(item.querySelector(".card3d"))
            })
        }
        setupItemClickHandlers()

        $$("#item-add_barcode-search").addEventListener("click", async _ => {
            const code = $$("#item-add_barcode-input").value
            if (code.length === 0) {
                return
            }

            {% comment %}$$(".customItemSpan").style.display = "none"
            $$("#id_upc").value = code
            $$("#div_id_upc").style.display = ""
            new bootstrap.Modal($$("#newItemModal")).show(){% endcomment %}

            const req = await fetch(`{% url "check_product_exists_api" %}?code=${code}`)
            const status = req.status
            if (status === 200) {
                const itemData = (await req.json())[0]
                console.log(itemData)

                $$("#id_item").value = itemData.pk
                $$("#addItemModal .modal-title").textContent = `Add item "${itemData.fields.title}"`
                new bootstrap.Modal($$("#addItemModal")).show()

            } else if (status === 204) {
                $$(".customItemSpan").style.display = "none"
                $$("#id_upc").value = code
                $$("#div_id_upc").style.display = ""
                new bootstrap.Modal($$("#newItemModal")).show()
            } else {
                console.log(req.status)
                {#alert("we pirla scrivi un barcode :)")      // TODO: Remove me#}
            }
        })

        $$("#newGlobalItemModal")
    </script>
{% endblock %}

{% block body %}
    <div class="container-fluid mw-sm">
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-12">
                <div class="content-section">
                    <h2>Add item to "{{ kitchen.name }}"</h2>
                    <div class="my-3 mb-4">
                        <label for="item-add_search-bar" class="form-label">Search any item by name</label>
                        <div class="position-relative" id="item-add_search-bar-wrap">
                            <div class="input-group flex-nowrap">
                                <input type="text" id="item-add_search-bar" class="form-control has-clear" />
                                {% comment %}<button class="btn btn-primary">
                                    <i class="bi bi-search"></i>
                                </button>{% endcomment %}
                            </div>
                            <div id="item-add_search-bar-absolute" class="border-1 shadow border-secondary bg-body rounded">
                                <div class="position-relative h-100 w-100">
                                    <div id="item-add_search-bar-absolute--no-results" style="display: flex" class="w-100 justify-content-center align-items-center">
                                        <span class="text-center">
                                            <i class="text-muted">No results...</i><br/>
                                            <span class="small">
                                                <a class="text-muted cursor-pointer clear-input-btn">Clear text</a>
                                                &nbsp;or&nbsp;
                                                <a class="text-muted cursor-pointer hide-me-btn">Hide me</a>
                                            </span>
                                        </span>
                                    </div>
                                    <div id="item-add_search-bar-absolute--results-found" style="display: none" class="w-100">
                                        <span class="justify-content-center align-items-center my-2 d-flex">
                                            <span class="small">
                                                <a class="text-muted cursor-pointer clear-input-btn">Clear text</a>
                                                &nbsp;or&nbsp;
                                                <a class="text-muted cursor-pointer hide-me-btn">Hide me</a>
                                            </span>
                                        </span>
                                        <span id="item-search-results-container"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-4">
                        <label for="item-add_search-bar" class="form-label">Scan a barcode <span class="small text-muted">(or input an EAN-13 code)</span></label>
                        <div class="input-group">
                            <button class="btn btn-warning" id="scan-btn">
                                <i class="bi bi-upc-scan"></i>
                            </button>
                            <input class="form-control d-none" type="file" accept="image/*" capture="camera" id="scan-file-input" />
                            <input type="number" min="0" id="item-add_barcode-input" oninput="validity.valid||(value='');" class="form-control monospaced" />
                            <button class="btn btn-primary" id="item-add_barcode-search">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </div>

                    <div class="mb-3">
                        <p class="form-label">Choose from your own (kitchen-specific) items</p>
                        <div class="list-group">
                            {% for ci in custom_items %}
                                <a class="list-group-item list-group-item-action add-item-btn" data-item-id="{{ ci.id }}" data-item-name="{{ ci }}" data-item-is-custom="true">
                                    <div class="d-flex my-1">
                                        <div class="card3d si-image me-3">
                                            <img src="/static/media/{% firstof si.image "question_mark.png" %}" alt="item image" class="rounded ratio-1x1 image-48">
                                        </div>
                                        <div>
                                            <div class="fw-bold mb-1">{{ ci.title }}</div>
                                            <div class="text-muted small">{{ ci.description }}</div>
                                        </div>
                                    </div>
                                </a>
                            {% empty %}
                                <a class="list-group-item text-center">
                                    <i class="text-muted"><i class="bi bi-"></i>No items</i>
                                </a>
                            {% endfor %}
                            <a class="list-group-item list-group-item-action list-group-item-success text-center" id="create-private-item-btn">
                                <i class="bi bi-plus-lg"></i>&nbsp;&nbsp;Create new item
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Code not found modal #}
    <div class="modal fade" id="codeNotFoundModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Unable to extract code from image</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Retry?
                </div>
                <div class="modal-footer d-flex-grow-1-child">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="codeNotFoundModalSuccessButton">Yes</button>
                </div>
            </div>
        </div>
    </div>

    {# New item modal #}
    <div class="modal fade" id="newItemModal" tabindex="-1" aria-labelledby="newItemModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <form method="POST" action="{% url 'new_kitchen_item' id=kitchen.id %}" novalidate class="needs-validation">
                    <div class="modal-header">
                        <h5 class="modal-title">New<span class="customItemSpan">&nbsp;custom</span> item</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ new_custom_item_form|crispy }}
                        </fieldset>
                    </div>
                    <div class="modal-footer d-flex-grow-1-child">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Back</button>
                        <button type="submit" class="btn btn-success" id="codeNotFoundModalSuccessButton">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {# Add item modal #}
    <div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="addItemModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <form method="POST" action="{% url 'add_item_kitchen' id=kitchen.id %}" class="needs-validation">
                    <div class="modal-header">
                        <h5 class="modal-title">Add custom item "eccecc"</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {# <h2 class="mb-3">Create new item</h2> #}
                            {{ add_item_form|crispy }}
                        </fieldset>
                    </div>
                    <div class="modal-footer d-flex-grow-1-child">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Back</button>
                        <button type="submit" class="btn btn-success" id="codeNotFoundModalSuccessButton">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}