{% extends "base.html" %}
{% load jsondumps %}
{% load crispy_forms_tags %}
{% load tz %}

{% load crispy_forms_tags %}

{% now "d-m-yy" as today_date %}

{% block head %}
    {% include "csvalidation.html" %}
    <style>
        #div_id_item { position: absolute; visibility:hidden; }
        #div_id_expiry_date { margin-bottom: 10px !important; }
        .si-image {
            flex-shrink: 1;
            max-width: 48px;
            margin-right: 16px;
            max-height: 48px;
        }
        #newPostitModal .form-label {
            display: none;
        }
        #newPostitModal #div_id_text {
            margin-bottom: 0 !important;
        }
    </style>
    <script type="module">
        import { setup } from "/static/js/Card3D.js"
        setup()

        {% if invite_users_form_open %}
            new bootstrap.Modal($$("#inviteUsersModal")).show()
        {% endif %}
        
        $$all(".stored-item-btn").forEach(item => item.addEventListener("click", _ => {
            const itemJsonData = JSON.parse(item.dataset.itemJson)
            const instanceJsonData = JSON.parse(item.dataset.storedItemJson)
            console.log({ itemJsonData, instanceJsonData })

            // $$("#itemInfoModal form").action = `/kitchens/{{ kitchen.id }}/update/${item.dataset.itemId}`


            $$("#itemInfoModal form").action = "{% url "update_storeditem_kitchen" id=kitchen.id item_id="00000000" %}".replace("00000000", item.dataset.itemId)

            $$all("#itemInfoModal #item-name, #removeItemModal #item-name").forEach(_ => _.textContent = itemJsonData["title"])
            $$("#itemInfoModal #item-desc").textContent = itemJsonData["description"]
            $$("#itemInfoModal #item-added-by").textContent = itemJsonData["added_by"][0]
            $$("#itemInfoModal #item-added-by").href = `/profile/${itemJsonData["added_by"][0]}`
            $$("#itemInfoModal #id_quantity").value = instanceJsonData["quantity"]
            $$("#itemInfoModal #id_note").textContent = instanceJsonData["note"]
            $$("#itemInfoModal #id_expiry_date").value = instanceJsonData["expiry_date"]
            $$("#removeItemModal #id_item").value = parseInt(item.dataset.itemId)

            new bootstrap.Modal($$("#itemInfoModal")).show()
        }))

        const postitModalEl = $$("#newPostitModal")
        const removePostitModalEl = $$("#removePostitModal")

        $$all(".postit-listing-btn").forEach(entry => {
            entry.addEventListener("click", _ => {
                postitModalEl.querySelector(".modal-title").textContent = "Edit PostIt"
                postitModalEl.querySelector("#id_text").textContent = entry.dataset.postitText
                postitModalEl.querySelector("form").action = "{% url "edit_postit" id=kitchen.id postit_id="00000000" %}".replace("00000000", entry.dataset.postitId)

                removePostitModalEl.querySelector("form").action = "{% url "delete_postit" id=kitchen.id postit_id="00000000" %}".replace("00000000", entry.dataset.postitId)

                new bootstrap.Modal(postitModalEl).show()
            })
        })

        $$("#create-new-postit-btn").addEventListener("click", () => {
            postitModalEl.querySelector(".modal-title").textContent = "Create PostIt"
            postitModalEl.querySelector("#id_text").textContent = ""
            postitModalEl.querySelector("form").action = "{% url "create_postit" id=kitchen.id %}"
            new bootstrap.Modal(postitModalEl).show()
        })

        const cartItemModalEl = $$("#cartItemEditModal")
        const removeCartItemModalEl = $$("#removeCartItemModal")
        $$all(".cart-item-btn").forEach(item => {
            item.addEventListener("click", evt => {
                // const itemJsonData = JSON.parse(item.dataset.itemJson)
                $$all("#cartItemEditModal .item-name, #removeCartItemModal .item-name").forEach(el =>
                    el.textContent = item.dataset.itemName
                )
                cartItemModalEl.querySelector("#item-desc").textContent = item.dataset.itemDesc
                cartItemModalEl.querySelector("#item-added-by").textContent = item.dataset.itemAddedBy
                cartItemModalEl.querySelector("#item-added-by").href = `/profile/${item.dataset.itemAddedBy}`
                cartItemModalEl.querySelector("#id_quantity").value = item.dataset.itemQuantity

                cartItemModalEl.querySelector("form").action = "{% url "update_cartitem_kitchen" id=kitchen.id item_id="00000000" %}".replace("00000000", item.dataset.itemId)

                removeCartItemModalEl.querySelector("form").action = "{% url "delete_cartitem_kitchen" id=kitchen.id item_id="00000000" %}".replace("00000000", item.dataset.itemId)

                new bootstrap.Modal(cartItemModalEl).show()
            })
        })
    </script>
{% endblock %}

{% block body %}
    <div class="container-fluid mw-md mb-5">
        <h1 class="mb-3">{{ kitchen.name }}</h1>
        <div class="row">
            <div class="col-md-6 col-sm-12 mb-4">
                <h3>Members</h3>
                <div class="list-group mb-4">
                    {% for m in memberships %}
                        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                            <div class="me-auto">
                                <div class="fw-bold mb-0">@{{ m.user.username }} {% if m.user == user %}(You){% endif %}</div>
                                {% if m.user.first_name or m.user.last_name %}
                                    <span>Full name: <b>{{ m.user.first_name }} {{m.user.last_name}}</b></span><br />
                                {% endif %}
                                {% if m.user.email %}
                                    <span>Email: <span class="monospaced">{{ m.user.email }}</span></span>
                                {% endif %}
                            </div>
                            {% if m.is_admin %}
                                <span class="badge rounded-pill bg-danger">Admin</span>
                            {% endif %}
                        </a>
                    {% empty %}
                        <li class="list-group-item">
                            No users
                        </li>
                    {% endfor %}
                    <a onClick='new bootstrap.Modal($$("#inviteUsersModal")).show()' class="list-group-item list-group-item-action list-group-item-success text-center" id="invite-user-btn">
                        <i class="bi bi-plus-lg"></i>&nbsp;&nbsp;Invite user
                    </a>
                </div>
                {% if pending_memberships %}
                <h3>Pending members</h3>
                <div class="list-group mb-4">
                    {% for pm in pending_memberships %}
                        <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-start pending-membership">
                            <div class="me-auto">
                                <div class="fw-bold mb-0">@{{ pm.user.username }}</div>
                                {% if pm.user.first_name or pm.user.last_name %}
                                    <span>Full name: <b>{{ pm.user.first_name }} {{pm.user.last_name}}</b></span><br />
                                {% endif %}
                                {% if pm.user.email %}
                                    <span>Email: <span class="monospaced">{{ pm.user.email }}</span></span><br />
                                {% endif %}
                                {% if pm.status == 'PI'  %}
                                    <div class="d-flex align-items-center mt-2">
                                        <span>Pending invitation: </span>
                                        <form action="{% url 'delete_membership' id=pm.id %}" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="btn bg-danger py-0 px-1 ms-2">
                                                <i class="bi bi-trash"></i>
                                            </button>
                                        </form>
                                    </div>
                                {% endif %}
                                {% if pm.status == 'PJR'  %}
                                    <div class="d-flex align-items-center mt-2">
                                        <span>Pending approval: </span>
                                        <form action="{% url 'kitchen_invite_users' id=kitchen.id %}" method="POST">
                                            {% csrf_token %}
                                            <input name="invite_other_users" type="hidden" value="{{pm.user.username}}"></input>
                                            <button type="submit" class="btn bg-success py-0 px-1 ms-2">
                                                <i class="bi bi-check"></i>
                                            </button>
                                        </form>
                                        <form action="{% url 'delete_membership' id=pm.id %}" method="POST">
                                            {% csrf_token %}
                                            <button type="submit" class="btn bg-danger py-0 px-1 ms-2">
                                                <i class="bi bi-x"></i>
                                            </button>
                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                                
                            {% if pm.is_admin %}
                                <span class="badge rounded-pill bg-danger">Admin</span>
                            {% endif %}
                            
                        </a>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="mt-3">
                    <h3>PostIt</h3>
                    <div class="list-group">
                        {% for p in postit %}
                            <span class="list-group-item list-group-item-action postit-listing-btn" data-postit-id="{{ p.id }}" data-postit-text="{{ p.text }}">
                                <p class="fst-italic mb-2 postit-listing-text">{{ p.text|linebreaksbr }}</p>
                                <span class="text-muted fst-italic text-decoration-none small">
                                    &ndash;&nbsp;{{ p.author.username }}
                                    {% if p.last_edited_by %}
                                        {% if p.author.username == p.last_edited_by.username %}
                                            (edited)
                                        {% else %}
                                            (edited by {{ p.last_edited_by.username }})
                                        {% endif %}
                                    {% endif %}
                                </span>
                            </span>
                        {% empty %}
                            <li class="list-group-item text-center text-muted">
                                <i>No PostIt</i>
                            </li>
                        {% endfor %}
                        <a class="list-group-item list-group-item-action list-group-item-success text-center" id="create-new-postit-btn">
                            <i class="bi bi-plus-lg"></i>&nbsp;&nbsp;Create new
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <h3>Items</h3>
                <div class="list-group list-group-item-action">
                    {% for si in stored_items %}
                        <a class="list-group-item list-group-item-action stored-item-btn" data-item-id="{{ si.id }}" data-item-is-custom="true" data-item-json="{{ si.item|json }}" data-stored-item-json="{{ si|json }}" data-item-name="{{ si }}">
                            <div class="d-flex my-1">
                                <div class="card3d si-image me-3">
                                    <img src="/static/media/{% firstof si.image "question_mark.png" %}" alt="item image" class="rounded ratio-1x1 image-48">
                                </div>
                                <div class="me-auto">
                                    <div class="fw-bold mb-1">
                                        {{ si.item.title }}
                                    </div>
                                    <div class="text-muted fst-italic mb-1">{% firstof si.note si.item.description "No description..." %}</div>
                                    <div class="text-muted small{% if si.expiry_date|utc < now|utc %} text-danger{% endif %}">
                                        Expires on {{ si.expiry_date|date:"d-m-yy" }}
                                    </div>
                                </div>
                                <div style="margin-top: -2.5px; width: 48px; height: 48px" class="text-center font-iosevka">
                                    <p class="small text-muted mb-0">AMOUNT</p>
                                    <b style="font-size: 24px">{{ si.quantity }}</b>
                                </div>
                            </div>
                        </a>
                    {% empty %}
                        <a class="list-group-item text-center">
                            <i class="text-muted"><i class="bi bi-"></i>No items</i>
                        </a>
                    {% endfor %}
                    <a class="list-group-item list-group-item-action list-group-item-success text-center" href="{% url 'add_storeditem_kitchen' id=kitchen.id %}">
                        <i class="bi bi-plus-lg"></i>&nbsp;&nbsp;Add item
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <h3 class="mt-3">Shopping Cart</h3>
                <div class="list-group list-group-item-action">
                    {% for item in shopping_cart %}
                        <a class="list-group-item list-group-item-action cart-item-btn" data-item-id="{{ item.id }}" data-item-json="{{ item.item|json }}" data-cart-item-json="{{ item|json }}" data-item-name="{{ item.item.title }}" data-item-desc="{{ item.item.description }}" data-item-added-by="{{ item.added_by.username }}" data-item-quantity="{{ item.quantity }}">
                            <div class="d-flex my-1">
                                <div class="card3d si-image me-3">
                                    <img src="/static/media/{% firstof item.item.image "question_mark.png" %}" alt="item image" class="rounded ratio-1x1 image-48">
                                </div>
                                <div class="me-auto">
                                    <div class="fw-bold mb-1">
                                        {{ item.item.title }}
                                    </div>
                                    <div class="text-muted fst-italic mb-1">{% firstof item.note item.item.description "No description..." %}</div>
                                </div>
                                <div style="margin-top: -2.5px; width: 48px; height: 48px" class="text-center font-iosevka">
                                    <p class="small text-muted mb-0">AMOUNT</p>
                                    <b style="font-size: 24px">{{ item.quantity }}</b>
                                </div>
                            </div>
                        </a>
                    {% empty %}
                        <a class="list-group-item text-center">
                            <i class="text-muted"><i class="bi bi-"></i>No items</i>
                        </a>
                    {% endfor %}
                    <a class="list-group-item list-group-item-action list-group-item-success text-center" href="{% url 'add_cartitem_kitchen' id=kitchen.id %}">
                        <i class="bi bi-plus-lg"></i>&nbsp;&nbsp;Add item
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% include "components/kitchen-forms/item-info-modal.html" with id=kitchen.id update_item_form=update_item_form %}

    {% include "components/kitchen-forms/remove-item-modal.html" with id=kitchen.id remove_item_form=remove_item_form %}

    {% include "components/kitchen-forms/invite-users-modal.html" with invite_users_form=invite_users_form kitchen=kitchen %}

    {% include "components/kitchen-forms/newedit-postit-modal.html" with new_postit_form=new_postit_form id=kitchen.id %}

    {% include "components/kitchen-forms/remove-postit-modal.html" with id=kitchen.id %}

    {% include "components/kitchen-forms/edit-cartitem-modal.html" with form=edit_shopping_cart_item_form id=kitchen.id %}
{% endblock %}