{% extends "base.html" %}

{% block title %} Foodganizer {% endblock %}

{% block head%}
    <script type="module">
        $$all(".leave-kitchen-button").forEach(entry => {
            addConfirmationModal(entry)
        })
    </script>
{% endblock %}

{% block body %}
    <div class="container-fluid mw-sm">
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-12 mb-4 ">
                <h1 class="mb-3">Your kitchens</h1>
                {% if active_memberships %}
                    <div class="list-group mb-4">
                        {% for m in active_memberships %}
                            <div class="d-flex align-items-stretch border-top border-start border-end">
                                <a class="list-group-item list-group-item-action border-0" href="{% url 'kitchen' id=m.kitchen.id %}">
                                    {{ m.kitchen.name }} 
                                </a>
                                <button class="list-group-item list-group-item-action border-0 border-start w-25 leave-kitchen-button  text-center"
                                        data-action="{% url 'delete_membership' id=m.id %}"
                                        data-modal-title="Leave kitchen {{m.kitchen.name}}"
                                        data-modal-body="Are you sure you want to leave kitchen {{m.kitchen.name}}?"
                                        data-modal-confirm-cta="Leave kitchen"
                                        data-modal-confirm-classes="btn-danger"
                                        >
                                    <i class="bi bi-box-arrow-right text-danger" ></i>
                                </button>
                            </div>
                        {% endfor %}
                        <a class="list-group-item list-group-item-success" href="{% url 'new_kitchen' %}">
                            <i class="bi bi-plus-lg"></i>&nbsp;&nbsp;Add new kitchen
                        </a>
                    </div>
                {% else %}
                    <ul class="list-group mb-4">
                        <li class="list-group-item py-3">
                           </i>&nbsp;&nbsp;No kitchens yet... create one!
                        </li>
                        <a class="list-group-item list-group-item-success" href="{% url 'new_kitchen' %}">
                            <i class="bi bi-plus-lg"></i>&nbsp;&nbsp;Add new kitchen
                        </a>
                    </ul>
                {% endif %}
                
                {% if invitations %}
                    <h2 class="mt-5 mb-3">You have been invited...</h1>
                    <ul class="list-group mb-4">
                        {% for i in invitations %}
                            <li class="list-group-item py-3">
                                @{{ i.invited_by }} invited you to join "{{ i.kitchen.name }}"
                            </li>
                            <div class="d-flex flex-direction-column mb-3">
                                <form class="flex-grow-1" action="{% url 'delete_membership' id=i.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="list-group-item w-100 py-1">
                                        <i class="bi bi-x-lg"></i>&nbsp;&nbsp;Decline
                                    </button>
                                </form>
                                <form class="flex-grow-1" action="{% url 'join_kitchen' id=i.kitchen.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="list-group-item list-group-item-success w-100 py-1">
                                        <i class="bi bi-check-lg"></i>&nbsp;&nbsp;Accept
                                    </button>
                                </form>
                            </div>
                        {% endfor %}
                        
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

    {% include "components/kitchen-forms/confirmationModal.html" %}
{% endblock %}