{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block head %}
    {% include "csvalidation.html" %}
{% endblock %}

{% block body %}
    <div class="container-fluid mw-sm">
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-12">
                <div class="content-section">
                    <form method="POST" novalidate class="rounded border p-3 needs-validation">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <h2 class="mb-4">Create new item</h2>
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Create</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}