{% extends "base.html" %}

{% block head %}
    {% include "csvalidation.html" %}
{% endblock %}

{% block body %}
    <div class="container-fluid mw-md pt-3">
        <div class="row {% comment %}me-lg-4 {% endcomment %}">
            <div class="col-md-3 col-sm-12 d-flex justify-content-center">
                <div class="rounded-pic-container">
                    <img src="/static/media/{{ user.profile_pic }}" />
                </div>
            </div>
            <div class="col-md-9 col-sm-12 mb-5">
                <h1 class="monospaced">@{{ user.username }}</h1>
                <form novalidate method="post" class="needs-validation" enctype="multipart/form-data" action="{% url 'profile' %}">
                    {% csrf_token %}

                    <div class="mb-2">
                        <label for="{{ user_form.first_name.name }}" class="form-label">Full name</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="{{ user_form.first_name.name }}" id="{{ user_form.first_name.name }}" placeholder="First name" value="{{ user_form.first_name.initial }}">
                            <input type="text" class="form-control" name="{{ user_form.last_name.name }}" id="{{ user_form.last_name.name }}" placeholder="Last name" value="{{ user_form.last_name.initial }}">
                        </div>
                        <div class="form-text mt-2">This is optional, and it'll be publicly shown to other users</div>
                        <div class="invalid-feedback">
                            Missing or invalid name
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="{{ user_form.email.name }}" class="form-label">Email</label>
                        <input type="email" class="form-control monospaced" name="{{ user_form.email.name }}" id="{{ user_form.email.name }}" value="{{ user_form.email.initial }}" required>
                        <div class="invalid-feedback">
                            Missing or invalid email
                        </div>
                        <div class="form-text mt-2">This is used for password resets</div>
                    </div>

                    <div class="mb-3">
                        <label for="{{ user_form.bio.name }}" class="form-label">Bio</label>
                        <textarea type="text" class="form-control" name="{{ user_form.bio.name }}" id="{{ user_form.bio.name }}" rows="6">{% firstof user_form.bio.initial "" %}</textarea>
                        <div class="invalid-feedback">
                            Invalid bio
                        </div>
                        <div class="form-text mt-2">Wanna flex? This is the place</div>
                    </div>

                    <div class="mb-3">
                        <label for="{{ user_form.profile_pic.name }}" class="form-label">Profile pic</label>
                        <input type="file" class="form-control" name="{{ user_form.profile_pic.name }}" id="{{ user_form.profile_pic.name }}">
                        {% comment %}{% firstof user_form.profile_pic.initial "" %}{% endcomment %}
                        <div class="invalid-feedback">
                            Error.
                        </div>
                    </div>

                    <input type="hidden" name="next" value="{{ next }}" />
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'logout' %}">
                            <button type="button" class="btn btn-danger">Log out</button>
                        </a>
                        <button type="submit" class="btn btn-success mb-3">Update profile</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}